<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mapper">
	<!--  新增记录  -->
    <insert id="insertUser" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into user(username) values(#{username})
    </insert>
    
	<!--  查询单条记录  
    <select id="selectBlog" parameterType="int" resultMap="BlogResult">
       select * from t_blog where doctype_id = #{id}
    </select>
    -->
	<!--  修改记录  
    <update id="updateBlog" parameterType="Blog">
        update t_blog set title = #{title},content = #{content},owner = #{owner} where id = #{id}
    </update>
    -->
	<!--  查询所有记录  -->
    <select id="selectAll" resultType="Map" parameterType="int">
        select * from doctype where doctype_id = #{id};
    </select>
	<!--  删除记录  
    <delete id="deleteBlog" parameterType="int">
       delete from t_blog where id = #{id}
    </delete>
    -->
</mapper>